---
http_interactions:
- request:
    method: get
    uri: https://openlibrary.org/search.json?limit=2&page=2&q=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.009 TT 0 0.009"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 772,
            "start": 2,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL896605W",
                    "type": "work",
                    "seed": [
                        "/books/OL10945156M",
                        "/works/OL896605W",
                        "/authors/OL79165A"
                    ],
                    "title": "Denver East, CO and Castle Rock, CO: Denver, CO",
                    "title_suggest": "Denver East, CO and Castle Rock, CO: Denver, CO",
                    "title_sort": "Denver East, CO and Castle Rock, CO: Denver, CO",
                    "subtitle": "39104, digital raster graphic data",
                    "edition_count": 1,
                    "edition_key": [
                        "OL10945156M"
                    ],
                    "publish_date": [
                        "1996"
                    ],
                    "publish_year": [
                        1996
                    ],
                    "first_publish_year": 1996,
                    "isbn": [
                        "0607620048",
                        "9780607620047"
                    ],
                    "last_modified_i": 1272517172,
                    "ebook_count_i": 0,
                    "ebook_access": "no_ebook",
                    "has_fulltext": false,
                    "public_scan_b": false,
                    "publisher": [
                        "USGS Branch of Distribution"
                    ],
                    "language": [
                        "eng"
                    ],
                    "author_key": [
                        "OL79165A"
                    ],
                    "author_name": [
                        "United States Geological Survey"
                    ],
                    "author_alternative_name": [
                        "Geological Survey (U. S.)",
                        "Geological Survey (U.S.) 088",
                        "United States. Geological survey.",
                        "United States. Geological Survey",
                        "U.S. Geological Survey",
                        "Geological Survey. (U.S.)",
                        "Geological Survey (U .S.)",
                        "Geological Survey (U.S.)",
                        "United States. Geological Survey."
                    ],
                    "publisher_facet": [
                        "USGS Branch of Distribution"
                    ],
                    "_version_": 1767943587270492162,
                    "author_facet": [
                        "OL79165A United States Geological Survey"
                    ]
                },
                {
                    "key": "/works/OL31554740W",
                    "type": "work",
                    "seed": [
                        "/books/OL7772425M",
                        "/works/OL31554740W"
                    ],
                    "title": "Denver Regional, CO",
                    "title_suggest": "Denver Regional, CO",
                    "title_sort": "Denver Regional, CO",
                    "edition_count": 1,
                    "edition_key": [
                        "OL7772425M"
                    ],
                    "publish_date": [
                        "June 1994"
                    ],
                    "publish_year": [
                        1994
                    ],
                    "first_publish_year": 1994,
                    "isbn": [
                        "9780528952715",
                        "0528952714"
                    ],
                    "last_modified_i": 1670927738,
                    "ebook_count_i": 1,
                    "ebook_access": "borrowable",
                    "has_fulltext": true,
                    "public_scan_b": false,
                    "ia": [
                        "denverregionalcl0000pier"
                    ],
                    "ia_collection": [
                        "inlibrary",
                        "internetarchivebooks",
                        "printdisabled"
                    ],
                    "ia_collection_s": "inlibrary;internetarchivebooks;printdisabled",
                    "lending_edition_s": "OL7772425M",
                    "lending_identifier_s": "denverregionalcl0000pier",
                    "printdisabled_s": "OL7772425M",
                    "cover_edition_key": "OL7772425M",
                    "cover_i": 13060547,
                    "publisher": [
                        "Rand McNally & Company"
                    ],
                    "id_librarything": [
                        "9032702"
                    ],
                    "ia_box_id": [
                        "IA40452109"
                    ],
                    "publisher_facet": [
                        "Rand McNally & Company"
                    ],
                    "_version_": 1767927443616694273
                }
            ],
            "num_found": 772,
            "q": "denver,co",
            "offset": null
        }
  recorded_at: Mon, 25 Sep 2023 17:53:23 GMT
recorded_with: VCR 6.2.0
