---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?hour=16&q=39.746%20-104.99373
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Key:
      - 84970864259a482888e195152232309
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '09/27/2023 04:16:17'
      Cdn-Edgestorageid:
      - '845'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 40b2400bd2dde8d33afb9e1f15427ab7
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Denver","region":"Colorado","country":"United
        States of America","lat":39.75,"lon":-104.99,"tz_id":"America/Denver","localtime_epoch":1695788175,"localtime":"2023-09-26
        22:16"},"current":{"last_updated_epoch":1695788100,"last_updated":"2023-09-26
        22:15","temp_c":18.5,"temp_f":65.3,"is_day":0,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":13.6,"wind_kph":22.0,"wind_degree":150,"wind_dir":"SSE","pressure_mb":1022.0,"pressure_in":30.19,"precip_mm":0.0,"precip_in":0.0,"humidity":34,"cloud":25,"feelslike_c":18.5,"feelslike_f":65.3,"vis_km":16.0,"vis_miles":9.0,"uv":1.0,"gust_mph":8.3,"gust_kph":13.3},"forecast":{"forecastday":[{"date":"2023-09-26","date_epoch":1695686400,"day":{"maxtemp_c":30.1,"maxtemp_f":86.2,"mintemp_c":11.4,"mintemp_f":52.5,"avgtemp_c":21.9,"avgtemp_f":71.4,"maxwind_mph":7.6,"maxwind_kph":12.2,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":25.0,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"uv":6.0},"astro":{"sunrise":"06:51
        AM","sunset":"06:51 PM","moonrise":"05:46 PM","moonset":"03:11 AM","moon_phase":"Waxing
        Gibbous","moon_illumination":"84","is_moon_up":1,"is_sun_up":1},"hour":[{"time_epoch":1695765600,"time":"2023-09-26
        16:00","temp_c":29.2,"temp_f":84.6,"is_day":1,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"wind_mph":5.6,"wind_kph":9.0,"wind_degree":79,"wind_dir":"E","pressure_mb":1009.0,"pressure_in":29.8,"precip_mm":0.0,"precip_in":0.0,"humidity":11,"cloud":4,"feelslike_c":27.1,"feelslike_f":80.7,"windchill_c":29.2,"windchill_f":84.6,"heatindex_c":27.1,"heatindex_f":80.7,"dewpoint_c":-4.4,"dewpoint_f":24.1,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":6.4,"gust_kph":10.4,"uv":7.0}]}]}}'
  recorded_at: Wed, 27 Sep 2023 04:16:17 GMT
recorded_with: VCR 6.2.0
