---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=5&q=denver
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Key:
      - 84970864259a482888e195152232309
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '09/24/2023 04:21:17'
      Cdn-Edgestorageid:
      - '1070'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - bdbf1b0c2715d8a8ba70154ea8cf0b14
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Denver","region":"Colorado","country":"United
        States of America","lat":39.74,"lon":-104.98,"tz_id":"America/Denver","localtime_epoch":1695529232,"localtime":"2023-09-23
        22:20"},"current":{"last_updated_epoch":1695528900,"last_updated":"2023-09-23
        22:15","temp_c":12.9,"temp_f":55.2,"is_day":0,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":10.5,"wind_kph":16.9,"wind_degree":110,"wind_dir":"ESE","pressure_mb":1019.0,"pressure_in":30.1,"precip_mm":0.0,"precip_in":0.0,"humidity":29,"cloud":50,"feelslike_c":12.2,"feelslike_f":53.9,"vis_km":16.0,"vis_miles":9.0,"uv":1.0,"gust_mph":9.1,"gust_kph":14.7},"forecast":{"forecastday":[{"date":"2023-09-23","date_epoch":1695427200,"day":{"maxtemp_c":25.5,"maxtemp_f":77.9,"mintemp_c":9.3,"mintemp_f":48.7,"avgtemp_c":17.6,"avgtemp_f":63.7,"maxwind_mph":11.9,"maxwind_kph":19.1,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":38.0,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"uv":5.0},"astro":{"sunrise":"06:48
        AM","sunset":"06:56 PM","moonrise":"03:41 PM","moonset":"No moonset","moon_phase":"Waxing
        Gibbous","moon_illumination":"52","is_moon_up":1,"is_sun_up":1},"hour":[{"time_epoch":1695448800,"time":"2023-09-23
        00:00","temp_c":16.1,"temp_f":61.0,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":3.6,"wind_kph":5.8,"wind_degree":222,"wind_dir":"SW","pressure_mb":1010.0,"pressure_in":29.82,"precip_mm":0.0,"precip_in":0.0,"humidity":33,"cloud":0,"feelslike_c":16.1,"feelslike_f":61.0,"windchill_c":16.1,"windchill_f":61.0,"heatindex_c":16.1,"heatindex_f":61.0,"dewpoint_c":-0.0,"dewpoint_f":32.0,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":6.3,"gust_kph":10.2,"uv":1.0},{"time_epoch":1695452400,"time":"2023-09-23
        01:00","temp_c":14.6,"temp_f":58.3,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":2.9,"wind_kph":4.7,"wind_degree":314,"wind_dir":"NW","pressure_mb":1011.0,"pressure_in":29.85,"precip_mm":0.0,"precip_in":0.0,"humidity":41,"cloud":1,"feelslike_c":14.6,"feelslike_f":58.3,"windchill_c":14.6,"windchill_f[...]
[...]
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=5&q=denver%20co
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Key:
      - 84970864259a482888e195152232309
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.[...]
[...]
- request:
    method: get
    uri: https://www.mapquestapi.com/geocoding/v1/address?location=denver%20co
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Key:
      - cayPcFS14a4Q04vfMbMj1bKIRFMRHYvm
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit-2628000:
      - '15000'
      X-Ratelimit-Remaining-2628000:
      - '14998'
      Ratelimit-Limit:
      - '15000'
      Ratelimit-Remaining:
      - '14998'
      Ratelimit-Reset:
      - '2151992'
      Etag:
      - W/"31d-Vyr1Bri5ApggtNMDyYmCFDWpdE0"
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJpbmZvIjp7InN0YXR1c2NvZGUiOjAsImNvcHlyaWdodCI6eyJ0ZXh0IjoiwqkgMjAyMyBNYXBRdWVzdCwgSW5jLiIsImltYWdlVXJsIjoiaHR0cDovL2FwaS5tcWNkbi5jb20vcmVzL21xbG9nby5naWYiLCJpbWFnZUFsdFRleHQiOiLCqSAyMDIzIE1hcFF1ZXN0LCBJbmMuIn0sIm1lc3NhZ2VzIjpbXX0sIm9wdGlvbnMiOnsibWF4UmVzdWx0cyI6LTEsImlnbm9yZUxhdExuZ0lucHV0IjpmYWxzZX0sInJlc3VsdHMiOlt7InByb3ZpZGVkTG9jYXRpb24iOnsibG9jYXRpb24iOiJkZW52ZXIgY28ifSwibG9jYXRpb25zIjpbeyJzdHJlZXQiOiIiLCJhZG1pbkFyZWE2IjoiIiwiYWRtaW5BcmVhNlR5cGUiOiJOZWlnaGJvcmhvb2QiLCJhZG1pbkFyZWE1IjoiRGVudmVyIiwiYWRtaW5BcmVhNVR5cGUiOiJDaXR5IiwiYWRtaW5BcmVhNCI6IkRlbnZlciIsImFkbWluQXJlYTRUeXBlIjoiQ291bnR5IiwiYWRtaW5BcmVhMyI6IkNPIiwiYWRtaW5BcmVhM1R5cGUiOiJTdGF0ZSIsImFkbWluQXJlYTEiOiJVUyIsImFkbWluQXJlYTFUeXBlIjoiQ291bnRyeSIsInBvc3RhbENvZGUiOiIiLCJnZW9jb2RlUXVhbGl0eUNvZGUiOiJBNVhBWCIsImdlb2NvZGVRdWFsaXR5IjoiQ0lUWSIsImRyYWdQb2ludCI6ZmFsc2UsInNpZGVPZlN0cmVldCI6Ik4iLCJsaW5rSWQiOiIwIiwidW5rbm93bklucHV0IjoiIiwidHlwZSI6InMiLCJsYXRMbmciOnsibGF0IjozOS43NDAwMSwibG5nIjotMTA0Ljk5MjAyfSwiZGlzcGxheUxhdExuZyI6eyJsYXQiOjM5Ljc0MDAxLCJsbmciOi0xMDQuOTkyMDJ9LCJtYXBVcmwiOiIifV19XX0=
  recorded_at: Sun, 24 Sep 2023 06:13:28 GMT
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=5&q=39.74001%20-104.99202
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Key:
      - 84970864259a482888e195152232309
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
 [...]
[...]
- request:
    method: get
    uri: https://www.mapquestapi.com/geocoding/v1/address?location=co
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Key:
      - cayPcFS14a4Q04vfMbMj1bKIRFMRHYvm
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit-2628000:
      - '15000'
      X-Ratelimit-Remaining-2628000:
      - '14997'
      Ratelimit-Limit:
      - '15000'
      Ratelimi[...]
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=5&q=4.61496%20-74.06942
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Key:
      - 84970864259a482888e195152232309
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
   [...]
[...]
