---
http_interactions:
- request:
    method: get
    uri: https://openlibrary.org/search.json?limit=5&page=2&q=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.355 TT 0 0.357"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 772,
            "start": 5,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL8808821W",
                    "type": "work",
                    "seed": [
                        "/books/OL8537031M",
                        "/works/OL8808821W",
                        "/authors/OL3010394A"
                    ],
                    "title": "University of Denver Co 2007",
                    "title_suggest": "University of Denver Co 2007",
                    "title_sort": "University of Denver Co 2007",
                    "edition_count": 1,
                    "edition_key": [
                        "OL8537031M"
                    ],
                    "publish_date": [
                        "July 1, 2006"
                    ],
                    "publish_year": [
                        2006
                    ],
                    "first_publish_year": 2006,
                    "number_of_pages_median": 180,
                    "oclc": [
                        "150368610"
                    ],
                    "isbn": [
                        "9781427401687",
                        "1427401683"
                    ],
                    "last_modified_i": 1304171421,
                    "ebook_count_i": 0,
                    "ebook_access": "no_ebook",
                    "has_fulltext": false,
                    "public_scan_b": false,
                    "cover_edition_key": "OL8537031M",
                    "cover_i": 1847337,
                    "publisher": [
                        "College Prowler"
                    ],
                    "language": [
                        "eng"
                    ],
                    "author_key": [
                        "OL3010394A"
                    ],
                    "author_name": [
                        "College Prowler"
                    ],
                    "id_goodreads": [
                        "2985742"
                    ],
                    "publisher_facet": [
                        "College Prowler"
                    ],
                    "_version_": 1767943535849373696,
                    "author_facet": [
                        "OL3010394A College Prowler"
                    ]
                },
                {
                    "key": "/works/OL16800110W",
                    "type": "work",
                    "seed": [
                        "/books/OL25422192M",
                        "/works/OL16800110W",
                        "/subjects/hfb",
                        "/subjects/hfbco",
                        "/subjects/hfbcolo",
                        "/subjects/colorado_marri[...]
[...]
